$slic3r-icon-font-family: "Slic3rIcons" !default;
$slic3r-icon-font-path: "assets/fonts" !default;
$slic3r-icon-3d-cube: "\e900";
$slic3r-icon-3d-cylinder: "\e901";
$slic3r-icon-3d-sphere: "\e902";
$slic3r-icon-3d-dprint: "\e903";
$slic3r-icon-3d-cone: "\e904";
$slic3r-icon-3d-dodecahedron: "\e905";
$slic3r-icon-3d-icosahedron: "\e906";
$slic3r-icon-3d-octahedron: "\e907";
$slic3r-icon-3d-polyhedron: "\e908";
$slic3r-icon-3d-torus: "\e909";
$slic3r-icon-3d-tetrahedron: "\e90a";
$slic3r-icon-3d-circle: "\e90b";
$slic3r-icon-3d-plane: "\e90c";
$slic3r-icon-3d-ring: "\e90d";
$slic3r-icon-3d-add: "\e90e";
$slic3r-icon-3d-back: "\e90f";
$slic3r-icon-3d-next: "\e910";
$slic3r-icon-3d-translate: "\e911";
$slic3r-icon-3d-scale: "\e912";
$slic3r-icon-3d-rotate: "\e913";
$slic3r-icon-3d-save: "\e914";
$slic3r-icon-3d-export: "\e915";
$slic3r-icon-3d-slice: "\e916";
$slic3r-icon-3d-trash: "\e917";