$icon3d-font-family: "icon3d" !default;
$icon3d-font-path: "assets/fonts" !default;
$icon-3d-add: "\e900";
$icon-3d-back: "\e901";
$icon-3d-cone: "\e902";
$icon-3d-cube: "\e903";
$icon-3d-cylinder: "\e904";
$icon-3d-dodecahedron: "\e905";
$icon-3d-icosahedron: "\e906";
$icon-3d-next: "\e907";
$icon-3d-rotate: "\e908";
$icon-3d-scale: "\e909";
$icon-3d-sphere: "\e90a";
$icon-3d-torus: "\e90b";
$icon-3d-translate: "\e90c";
$icon-3d-trash: "\e90d";